/* All common css */
*{
    padding: 0;
    margin: 0;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

ol,ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}

h1,h2,h3,h4,h5,h6, p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
/* All common css */

/* Top bar  */
#topbar{
    padding: 18px 0;
    background-color: #3E3E3E;
    
}

.topheadercontent{
display: flex;
justify-content: space-between;
}

.topleft{
    display: flex;
    gap: 40px;
}

.topleft p{
    color: white;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    vertical-align: middle;
}

.topleft i{
    margin-right: 12px;
}

.topright a{
color: white;
margin-right: 20px;
transition: .4s;
}

.topright a:hover{
    color: #f8b864;
}

/* Header part st */
#headerpart{

}

.logoandmenu{
    display: flex;
    justify-content: space-between;
}

.menu ul li{
    display: inline-block;
}

.menu ul li a{
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #555555;
    font-weight: 700;
    padding: 0 25px;
    line-height: 90px;
    transition: .4s;
}

.logo{
    padding-top: 15px;
}

.menu ul li a:hover{
    color: #f8b864;
}
/* Header part end */
/* Bannar st  */
#bannarpart{
    
    background: url(../img/bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overly{
    background: rgba(0, 0, 0, 0.5);
    padding-top: 310px;
    padding-bottom: 330px;
}

.bannarcontent{
    text-align: center;
    color: white;
}

.bannarcontent h3{
    font-size: 30px;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
}

.bannarcontent h1{
    font-size: 60px;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    padding-top: 35px;
    padding-bottom: 30px;
}

.bannarcontent p{
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    padding: 0 245px;
    line-height: 30px;
    margin-bottom: 60px;
}

.bannarcontent a{
    padding: 15px 35px;
    background: #f8b864;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    transition: .5s;
}

.bannarcontent a:hover{
    background-color: white;
    color: #686868;
}
.bannarcontent span{
    color: #f8b864;
}
/* Bannar end */

/* Goal part css st */
#goal{
    height: 620px;
    padding-top: -100px;
    }

.goalcontent{
    position: relative;
}

.cardtext .img1{
    position: relative;
}
.cardtext p{
 color: #555555;
 font-size: 18px;
 font-family: "Open Sans", sans-serif;
 padding-bottom: 80px;
}

.icon{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 125px;
}

.icon i{
    font-size: 36px;
    color: #777;
    
}
.icon h2{
    font-size: 18px;
    color: #555555;
    font-family: "Roboto Slab", serif;
    line-height: 60px;
    font-weight: 400;
}
.icon p{
    font-size: 14px;
    color: #777777;
    font-family: "Open Sans", sans-serif;
    line-height: 10px;
    line-height: 24px;
}

.img1{
    padding: 20px 0;
}

.img1::before{
    position: absolute;
    color: aqua;
    background: #DDDDDD;
    height: 1px;
    width: 130px;
    content: "";
    top: 50%;
    left: 400px;
}
.img1::after{
    position: absolute;
    color: aqua;
    background: #DDDDDD;
    height: 1px;
    width: 130px;
    content: "";
    top: 50%;
    right: 400px;
}

.goalpart h1{
    font-size: 36px;
    color: #555555;
    font-family: "Roboto Slab", serif;
}

.goalpart{
    position: absolute;
    top: -100px;
    width: 100%;
    text-align: center;
    padding-top: 130px;
    background: white;
-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}


/* latest part css  */
#latest{
    padding: 10px 0;
    display: flex;
}

.latestcontent{
text-align: center;
}

.latesttext h2{
    font-size: 36px;
    line-height: 36px;
    color: #555555;
    font-family: "Roboto Slab", serif;
}

.latestimg{
    padding: 10px 0;
    position: relative;
    display: inline-block;
    transform: translate(-50%);
}

.latestimg::after{
position: absolute;
top: 50%;
left: -170px;
height: 1px;
width: 130px;
background: #DDDDDD;
content: "";
}

.latestimg::before{
position: absolute;
top: 50%;
right: -170px;
height: 1px;
width: 130px;
background: #DDDDDD;
content: "";
}

.latestcontent p{
    font-size: 18px;
    line-height: 24px;
    font-family: "Open Sans", sans-serif;
    color: #777777;
}
/* latest part css  */



/* Blog part css */
#blog{
    padding-top: 50px;
    padding-bottom: 100px;
}

.blogpart{
    /* background: #f3dfc4; */
    display: flex;
    justify-content: space-between;
}

.blogimg img{
    width: 100%;
    
}

.blogimg{
    width: 30%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    padding-bottom: 40px;
}

.blogtext{
    padding-left: 40px;
    padding-right: 40px;
}

.price{
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
}

.button{
    display: inline-block;
}

.button:hover{
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.butoonrapper{
    padding-left: 40px;
}

.button a{
    background: #f8b864;
    color: #ffff;
    border-radius: 50px;
    padding: 10px 20px;
    font-family: "Open Sans", sans-serif;
}


.blogtext a{
    font-size: 18px;
    line-height: 22px;
    font-family: "Roboto Slab", serif;
    color: #555555;
    padding: 20px 0;
    font-weight: 600;
    transition: .5s;
}

.blogtext a:hover{
    color: #F8B878;
}

.blogtext p{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.price p{
    font-size: 14px;
    line-height: 21px;
    font-family: "Open Sans", sans-serif;
    color: #888888;
    padding: 20px 0;
    font-weight: 700;
}

.price p span{
    color: #555555;
}
/* Blog part css */


/* Post css start  */
#post{
    padding-top: 120px;
    /* padding-bottom: 120px; */
    background: #F8F8F8;
}

#post2{
    padding-top: 120px;
    padding-bottom: 120px;
    background: #F8F8F8;
}

.postpart{
    display: flex;
}

.postimg{
position: relative;
width: 50%;
}

.post-overly{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post-overly i{
    font-size: 80px;
    color: #fff;
}

.posttext2{
    width: 50%;
    padding-top: 70px;
    padding-right: 60px;
    text-align: right;
}

.posttext{
    width: 50%;
    padding-top: 70px;
    padding-left: 60px;
}
.posttext h1{
    
    font-size: 30px;
    line-height: 36px;
    font-family: "Roboto Slab", serif;
    color: #555555;
}
.posttext2 h1{
    
    font-size: 30px;
    line-height: 36px;
    font-family: "Roboto Slab", serif;
    color: #555555;
}

.ruller{
    height: 1px;
    width: 70px;
    background: #F8B864;
    margin: 20px 0;
}

.ruller2{

    height: 1px;
    width: 70px;
    background: #F8B864;
    margin: 20px 0 20px 500px;
}

.posttext p{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #555555;
    padding-bottom: 20px;
}
.posttext2 p{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #555555;
    padding-bottom: 20px;
}
/* Post css end  */



/* Banner  */
.bannerpart{
    background: url(../img/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.banneroverly{
    background: rgba(0, 0, 0, 0.5);
    height: 380px;
}
/* Banner  */

/* Img with icon part  */
#imgwithicon{
    padding-top: 120px;
    padding-bottom: 120px;
    background: #F8F8F8;
}

.imgandicon{
text-align: center;
}

.imgpart{
    width: 50%;
}

.imgandicon h1{
    font-size: 36px;
    line-height: 36px;
    font-family: "Roboto Slab", serif;
    color: #555555;
}

.imgandicon .hand{
    padding: 20px 0;
    position: relative;
    display: inline-block;
    
}

.imgandicon .hand::after{
    position: absolute;
    height: 1px;
    width: 130px;
    background: #DDDDDD;
    top: 50%;
    left: -170px;
    content: "";
}

.imgandicon .hand::before{
    position: absolute;
    height: 1px;
    width: 130px;
    background: #DDDDDD;
    top: 50%;
    right: -170px;
    content: "";
}
.imgandicon p{
font-family: "Open Sans", sans-serif;
color: #777777;
font-size: 16px;
line-height: 24px;
padding-bottom: 80px;
}

.imgiconrapper{
display: flex;
/* justify-content: space-between; */
}

.imgleft{
    width: 50%;
}

.iconmain{
    display: flex;
}

.iconright{
    /* display: flex; */
    padding-top: 20px;
}

.iconright i{
    color: #777;
    font-size: 36px;
    line-height: 36px;
}

.iconright h3{
    color: #555555;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    line-height: 22px;
    padding: 20px 0;
    font-weight: 400;
}

.iconrapper p{
    font-size: 14px;
    line-height: 21px;
}

.iconrapper{
    padding-left: 35px;
}
/* Img with icon part  */

/* Blog part css */
#blog{
    padding: 100px 0;
    text-align: center; 
}

.blogflex{
    display: flex;
    display: inline-block;
    width: 100%;
}

.blogtop{
display: inline-block;
}

.blogtop .topimg::before{
    position: absolute;
    height: 1px;
    width: 130px;
    top: 50%;
    left: 160px;
    background: #DDDDDD;
    content: "";
   transform: translate(-50%, -50%);
}

.blogtop .topimg::after{
    position: absolute;
    height: 1px;
    width: 130px;
    top: 50%;
    right: 20px;
    background: #DDDDDD;
    content: "";
   transform: translate(-50%, -50%);
}

.blogtop h1{
    font-size: 36px;
    line-height: 36px;
    font-family: "Roboto Slab", serif;
    color: #555555;
}

.blogtop .topimg{
    padding: 15px 0;
    position: relative;
}

.blogtop p{
    font-size: 18px;
    line-height: 24px;
    font-family: "Open Sans", sans-serif;
    color: #777777;
    padding-bottom: 70px;
}

.post-item{
width: 31.5%;
}

.post-img img{
    width: 100%;
}

.post-img{
    position: relative;
    height: 64%;

}

.post-img:hover .img-overly{
    visibility: visible;
    opacity: 1;
}

.img-overly{
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.img-overly a{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 35px;
    color: #fff;
    transform: translate(-50%, -50%);
}

.post-text{
    text-align: start;
    padding-left: 30px;


    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

.post-text p{
    font-family: "roboto slab";
    font-size: 14px;
    line-height: 21px;
    color: #777777;
    padding: 15px 0;
}

.post-text .buttontext{
    font-size: 20px;
    line-height: 24px;
    font-family: "Roboto Slab", serif;
    color: #555555;
    font-weight: 700;
    transition: .5s;
}

.post-text .buttontext:hover{
    color: #F8B864;
}

.post-text .readtext:hover{
    color: #F8B864;
}

.post-text .readtext{
    font-size: 16px;
    line-height: 24px;
    font-family: "roboto slab";
    color: #555555;
    transition: .5s;
    padding: 25px 0;
}

.post-flex{
    display: flex;
    justify-content: space-between;
}
/* Blog part css */

/* Footer part css */
#footer{
    background: #2E2E2E;
    height: 540px;
}

.footer-part{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-content{
    padding-top: 120px;
    width: 20%;
}

.about h1{
    color: #ffff;
    font-family: "open sans";
    font-size: 18px;
    line-height: 21.6px;
    padding-bottom: 30px;
}

.about p{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #aaaaaa;
    padding-bottom: 20px;
}

.social a i{
    color: #aaaaaa;
    margin-right: 10px;
    font-size: 26px;
    line-height: 26px;
    transition: .5s;
}

.social a i:hover{
    color: #fff;
}

.important-menu{

}

.important-menu a{
display: block;
font-family: "Open Sans", sans-serif;
font-size: 14px;
line-height: 21px;
color: #aaaaaa;
padding-bottom: 15px;
transition: .5s;
}

.insta-part{

}

.insta-part h1{
    color: #ffff;
    font-family: "open sans";
    font-size: 18px;
    line-height: 21.6px;
    padding-bottom: 30px;
}

.important-menu a:hover{
    color: #fff;
}

.instagram-feed{
    display: flex;
    justify-content: space-between;
}

.insta-img{
    position: relative;
    margin-bottom: 15px;
}

.insta-img:hover .insta-overly{
    visibility: visible;
    opacity: 1;
}

.insta-img img{
    width: 100%;   
    height: 100%;
}

.insta-img .insta-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    color: #fff;
}
.insta-overly{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.footer-dag{
    height: 1px;
    width: 100%;
    background: #aaaaaa;
    margin-top: 120px;
    margin-bottom: 30px;
}

.footer-text{
    
}
.footer-text p{
    font-family: "Open Sans", sans-serif;
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
}

.footer-text p a{
    color: white;
}

.footer-text p a:hover{
    color: #F8B864;
}
/* Footer part css */